# Your discord bot token
# Get this from Discord developer portal
#   Your App > Bot > Token
JB_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXX.XXXXXX.XXXXXXXXXXXXXXXXXXXXXXXXXXX

# The Gmail address the bot will use to send and receive emails
JB_EMAIL_USER=mybot@gmail.com
# The App Password for the Gmail account specified above
JB_EMAIL_PASS=...

# Api key for api8.ocr.space
# If unset, the JI's OCR tool will be disabled.
JB_OCR_API=...

# API key for Google Gemini
# Powers the AI features of the bot
# If unset, the gemini integration will be disabled.
JB_GEMINI_API_KEY=AIzaXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# GitHub Personal Access Token (PAT)
# Used for fetching github repos etc.
# If unset, the github integration will be disabled.
JB_GITHUB_TOKEN=ghp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# The absolute file path to the zapbox executable
# See https://github.com/Maqi-x/zapbox
# Used for compiling zap code in /compile command
# If unsed, compiling zap code will be disabled.
JB_ZAPBOX_PATH=/app/zapbox

# Toggle for development mode, enables verbose logging
JB_DEVELOPMENT=true

# Toggle for automatic updates using git
# See src/features/others/auto-update.ts
JB_AUTO_UPDATE=false
